@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brasil - São Paulo/SP<br />
    rodolfodesignpro@yahoo.com.br<br />
    Celular: +55 (11) 95982-1618<br />
    <a href="http://rodolfoterra.byethost22.com/portfolio/" target="_blank">Portfólio</a>
</address>

<h4>Repositórios Online</h4>

<address>
    <hr />
    <strong class="col-md-1">GitHub:</strong> <a href="https://github.com/RodolfoTerra" class="col-md-10" target="_blank">github.com/RodolfoTerra</a><br /><hr />
    <strong class="col-md-1">GitLab:</strong> <a href="https://gitlab.com/RodolfoTerra" class="col-md-10" target="_blank">gitlab.com/RodolfoTerra</a><br /><hr />
    <strong class="col-md-1">BitBucket:</strong> <a href="https://bitbucket.org/RodolfoTerra" class="col-md-10" target="_blank">bitbucket.org/RodolfoTerra</a><br />
</address>